
{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
    
  console.log("Starting GA script. Document.location.hostname= " + document.location.hostname);
  
  if(document.location.hostname.search("www.ajiestaelarroz.com") !== -1) {
      console.log("Operating in production domain. Starting GA..");
    
      var _gaq = _gaq || [];
      var pluginUrl = 
     '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    }
    
    else {   
        console.log("Operating in dev mode. GA not initialized");
    }
    
</script>
{% endif %}
