<ul class="menu-item">
	<li class="home"><a href="/">{{ site.title }}</a></li>
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
    
    <li>
        <a href="https://www.facebook.com/ajiestaelarroz" class="facebook" title="Ají está el arroz en Facebook" target="_blank">  
        <i class="fa fa-facebook"></i>
        </a>
    </li>
    
    <li>
        <a href="https://instagram.com/ajiestaelarroz" class="facebook" title="Ají está el arroz en Instagram" target="_blank">  
        <i class="fa fa-instagram"></i>
        </a>
    </li>
    
</ul>